<div class="modal-header">
  <button class="btn" (click)="openProductList()"><i class="far fa-plus-square"></i>Add Product</button>
  <button class="btn" (click)="deleteSelectedProductList()"><i class="far fa-trash-alt"></i>Delete List</button>
</div>
<div class="modal-body">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Product</th>
        <th scope="col">Default Volume</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of selectedProducts; index as i">
        <td>{{product.name }}</td>
        <td>
          <button class="quantity-btn" (click)="decrementQuantity(product)">-</button>
          <input class="quantity-input" type="number" [(ngModel)]="product.minQuantity">
          <button class="quantity-btn" (click)="incrementQuantity(product)">+</button></td>
        <td><button class="delete-product" (click)="deleteSelecteItem(product)"><i
              class="far fa-trash-alt"></i></button></td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="closeModal()">Close</button>
  <button class="btn btn-primary" (click)="generateOrderList()">Submit</button>
</div>